<div id="frm-register">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" id="" [(ngModel)]="name" placeholder="name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Repeat password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="c_password" placeholder="Password">
    </div>
    <button class="btn btn-primary" (click)="register()">Register</button>
  </div>