<ng-container>
  <div class="text-right">
    <button (click)="newRide()" class="btn btn-info">
      <i class="far fa-plus-square"></i>&nbsp;Create new ride (dummy)
    </button>
  </div>
</ng-container>

<!-- All rides -->
<div class="container" *ngIf="!!rides">
  <ul class="contianer  list-group">
    <li class="list-group-item mt-2" *ngFor="let ride of rides; let i = index">
      <div><img class="user-icon img-thumbnail rounded" src="{{ helperService.imageBaseUrl + ride.user.image + '.png' }}">{{ ride.user.name }} : {{ ride.from }} - {{ ride.to }}</div> 
      <div class="text-right text-black-50">{{ ride.drive_at | date: 'medium' }}</div>
    </li>
  </ul>
</div>

<!-- My rides -->
<div *ngIf="!!myRides">

  <div *ngFor="let ride of myRides">
    <div>
        <button (click)="deleteRide(ride.id)"  class="btn"><i class="fas fa-trash-alt"></i></button>&nbsp;<i class="fas fa-pen-square"></i> {{ ride.id }} - {{ ride.user_id }} - {{ ride.from }} - {{ ride.to }} -  {{ ride.drive_at | date :'short' }}
    </div>
  </div>
</div>


