<!--The content below is only a placeholder and can be replaced.-->
<div class="continer-fluid">

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/">Travel Talk</a>
      
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/rides" routerLinkActive>All rides</a>
        </li>

        <ng-container *ngIf="login === false ">
         
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/login" routerLinkActive>Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/register">Register</a>
          </li>          
        </ng-container>

        <ng-container *ngIf="login === true">
          <li class="nav-item">
              <a class="nav-link" href="#" (click)="logout()" >Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/profile" routerLinkActive>My profile</a>
          </li>
        </ng-container>
      </ul>
    </nav>

    <div class="container" *ngIf="!!rides">
      <ul class="contianer  list-group">
        <li class="list-group-item mt-2" *ngFor="let ride of rides; let i = index">
          <div><img class="user-icon img-thumbnail rounded" src="{{ helperService.imageBaseUrl + ride.user.image + '.png' }}">{{ ride.user.name }} : {{ ride.from }} - {{ ride.to }}</div> 
          <div class="text-right text-black-50">{{ ride.drive_at | date: 'medium' }}</div>
        </li>
      </ul>
    </div>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

</div>
